bleach==3.1.5
certifi==2018.8.24
colorama==0.4.3
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.2.3
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.1
Jinja2==2.11.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==5.2.0
jupyter-core==4.5.0
MarkupSafe==1.0
mistune==0.8.3
nbconvert==5.5.0
nbformat==5.0.7
notebook==6.1.5
numpy==1.18.5
packaging==20.4
pandocfilters==1.4.2
pickleshare==0.7.4
prometheus-client==0.8.0
prompt-toolkit==1.0.15
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pywin32==228
pywinpty==0.5.4
pyzmq==17.1.2
qtconsole==4.7.4
QtPy==1.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.15.0
terminado==0.8.1
testpath==0.4.4
tornado==5.1.1
traitlets==4.3.2
wcwidth==0.2.4
webencodings==0.5.1
widgetsnbextension==3.4.1
win-unicode-console==0.5
wincertstore==0.2
